<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/lib/jquery-3.1.0.js"></script>
</head>
<body>

<script>
    $.ajax({
        type: "POST",
        url: '/styleConversion/api',
            data: {
                type: "android",
                data: JSON.stringify({
                    "background": {
                        "backgroundColor": "",
                        "watermark": "2c9292046a259d02016ad9eef03c0020",
                        "fillOpacity": 0,
                        "waterMarkOpacity": 100,
                        "rule": "across"
                    },
                    "GlobalStyle": {},
                    "layers": [
                    ],
                    "styles": {
                        "11": [
                            {
                                "children": [
                                    {
                                        "data": "行政区划点",
                                        "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_EQ=3111020106",
                                        "labelType": "point",
                                        "type": "style",
                                        "layer": "居民地_居民点",
                                        "parentId": "11_居民点",
                                        "filter": "not  ( fname  is  null ) and  fcode  = \"3111020106\"",
                                        "children": [],
                                        "isVisbile": true,
                                        "iconType": "point-label",
                                        "name": "省",
                                        "style": [
                                            {
                                                "distance": 0,
                                                "graphicHeight": 14,
                                                "show": true,
                                                "labelFunction": "var s;\ns=label.replace(/政府/, \"\");\ns=s.replace(/办事处/, \"\");\ns=s.replace(\"<br/><br/>\", \"\");\nreturn s;",
                                                "graphicDistance": 0,
                                                "labelfield": "fname",
                                                "graphicXOffset": 0,
                                                "pointStrokeAlpha": 1,
                                                "chinaLabelWidth": 16,
                                                "pointBackgroundLineWidth": 0,
                                                "pointFillFontStyle": "微软雅黑",
                                                "pointFillFontWeight": "600",
                                                "isImportant": false,
                                                "graphicWidth": 14,
                                                "pointStrokeFont": "normal 600 12px 微软雅黑,SPZ",
                                                "pointFillFontSize": 12,
                                                "pointBoxDisance": 0,
                                                "angle": 30,
                                                "pointBackgroundLineColor": "#FFFFFF",
                                                "direction": 0,
                                                "avoidWeight": 0,
                                                "avoidField": "avoidWeight",
                                                "texture": "5028813a5d45e306015db27110003248",
                                                "pointOffsetY": 0,
                                                "pointOffsetX": 0,
                                                "pointLineWidth": 2,
                                                "pointFillAlpha": 1,
                                                "isFourDirections": false,
                                                "graphicYOffset": 0,
                                                "pointStrokeStyle": "#FFFFFF",
                                                "pointFillFont": "normal 600 12px 微软雅黑,SPZ",
                                                "otherLabelWidth": 16,
                                                "pointFillStyle": "#FD3B3A",
                                                "pointHashOutline": true,
                                                "pointHashBackground": false,
                                                "pointFillFontS": "normal",
                                                "pointHeight": 12
                                            }
                                        ],
                                        "id": "11_居民点_省",
                                        "avoid": {},
                                        "isleaf": true,
                                        "status": 0
                                    },
                                    {
                                        "data": "行政区划点",
                                        "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_EQ=3111030106",
                                        "labelType": "point",
                                        "nodeUid": "6VOpJMu58bRUm0cAnwSP",
                                        "pickArr": [
                                            {
                                                "filter": "fname = '嘉兴市'",
                                                "field": "fname",
                                                "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_EQ=3111030106 AND Q_fname_S_EQ=嘉兴市",
                                                "fieldVal": "嘉兴市",
                                                "pointOffsetY": "15",
                                                "pointOffsetX": "-10",
                                                "objectId": "221570",
                                                "fcode": "3111030106"
                                            },
                                            {
                                                "filter": "fname = '嘉兴市'",
                                                "field": "fname",
                                                "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_EQ=3111030106 AND Q_fname_S_EQ=嘉兴市",
                                                "fieldVal": "嘉兴市",
                                                "pointOffsetY": "15",
                                                "pointOffsetX": "-10",
                                                "objectId": "221570",
                                                "fcode": "3111030106"
                                            }
                                        ],
                                        "type": "style",
                                        "layer": "居民地_居民点",
                                        "parentId": "11_居民点",
                                        "filter": "not  ( fname  is  null ) and  fcode  = \"3111030106\"",
                                        "children": [],
                                        "isVisbile": true,
                                        "iconType": "point-label",
                                        "name": "市",
                                        "style": [
                                            {
                                                "graphicHeight": 14,
                                                "show": true,
                                                "labelFunction": "var s;\ns=label.replace(/政府/, \"\");\ns=s.replace(/办事处/, \"\");\ns=s.replace(\"<br/><br/>\", \"\");\nreturn s;",
                                                "graphicDistance": -1,
                                                "labelfield": "fname",
                                                "graphicXOffset": 0,
                                                "pointStrokeAlpha": 1,
                                                "chinaLabelWidth": 16,
                                                "pointBackgroundLineWidth": 0,
                                                "pointFillFontStyle": "微软雅黑",
                                                "pointFillFontWeight": "600",
                                                "isImportant": true,
                                                "graphicWidth": 14,
                                                "pointStrokeFont": "normal 600 12px 微软雅黑,SPZ",
                                                "pointFillFontSize": 12,
                                                "angle": 30,
                                                "pointBoxDisance": 0,
                                                "pointBackgroundLineColor": "#FFFFFF",
                                                "direction": 0,
                                                "texture": "5028813a5d45e306015db27110003248",
                                                "pointOffsetY": 0,
                                                "pointOffsetX": 0,
                                                "pointLineWidth": 2,
                                                "pointFillAlpha": 1,
                                                "graphicYOffset": 0,
                                                "pointStrokeStyle": "#FFFFFF",
                                                "pointFillFont": "normal 600 12px 微软雅黑,SPZ",
                                                "otherLabelWidth": 16,
                                                "pointFillStyle": "#FD3B3A",
                                                "pointHashOutline": true,
                                                "pointHashBackground": false,
                                                "pointFillFontS": "normal",
                                                "pointHeight": 12
                                            }
                                        ],
                                        "id": "11_居民点_市",
                                        "avoid": {},
                                        "isleaf": false,
                                        "status": 0
                                    },
                                    {
                                        "data": "行政区划点",
                                        "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_EQ=3111040106",
                                        "labelType": "point",
                                        "nodeUid": "6VOpJMu58bRUm0cAnEyR",
                                        "type": "style",
                                        "layer": "居民地_居民点",
                                        "parentId": "11_居民点",
                                        "filter": "not  ( fname  is  null ) and  fcode   =  \"3111040106\"",
                                        "children": [],
                                        "isVisbile": true,
                                        "iconType": "point-label",
                                        "name": "县",
                                        "style": [
                                            {
                                                "pointBackgroundColor": "#bb794a",
                                                "graphicHeight": 14,
                                                "show": true,
                                                "labelFunction": "var s;\ns=label.replace(/政府/, \"\");\ns=s.replace(/办事处/, \"\");\ns=s.replace(\"<br/><br/>\", \"\");\nreturn s;",
                                                "graphicDistance": 3,
                                                "labelfield": "fname",
                                                "graphicXOffset": 0,
                                                "pointBackgroundGap": 3,
                                                "chinaLabelWidth": 16,
                                                "pointBackgroundLineWidth": 0,
                                                "pointFillFontStyle": "DroidSansFallback_0",
                                                "pointFillFontWeight": "600",
                                                "isImportant": true,
                                                "graphicWidth": 0,
                                                "pointStrokeFont": "normal 600 12px DroidSansFallback_0,SPZ",
                                                "pointFillFontSize": 12,
                                                "angle": 30,
                                                "pointBoxDisance": 0,
                                                "pointBackgroundLineColor": "#FFFFFF",
                                                "direction": 0,
                                                "pointBackgroundAlpha": 1,
                                                "pointOffsetY": 0,
                                                "pointOffsetX": 0,
                                                "pointBackgroundRadius": 5,
                                                "pointFillAlpha": 1,
                                                "graphicYOffset": 0,
                                                "pointFillFont": "normal 600 12px DroidSansFallback_0,SPZ",
                                                "otherLabelWidth": 16,
                                                "pointFillStyle": "#fefefe",
                                                "pointHashOutline": false,
                                                "pointHashBackground": true,
                                                "pointFillFontS": "normal",
                                                "pointHeight": 12
                                            }
                                        ],
                                        "id": "11_居民点_县",
                                        "avoid": {},
                                        "isleaf": false,
                                        "status": 0
                                    },
                                    {
                                        "data": "行政区划点",
                                        "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_EQ=3111050106",
                                        "labelType": "point",
                                        "nodeUid": "6VOpJMu58bRUm0cAnOLv",
                                        "type": "style",
                                        "layer": "居民地_居民点",
                                        "parentId": "11_居民点",
                                        "filter": "not  ( fname  is  null ) and  fcode  = \"3111050106\"",
                                        "children": [],
                                        "isVisbile": true,
                                        "iconType": "point-label",
                                        "name": "乡",
                                        "style": [
                                            {
                                                "distance": 0,
                                                "graphicHeight": 14,
                                                "show": true,
                                                "labelFunction": "var s;\ns=label.replace(/政府/, \"\");\ns=s.replace(/办事处/, \"\");\ns=s.replace(\"<br/><br/>\", \"\");\nreturn s;",
                                                "graphicDistance": 3,
                                                "labelfield": "fname",
                                                "graphicXOffset": 0,
                                                "pointStrokeAlpha": 1,
                                                "chinaLabelWidth": 16,
                                                "pointBackgroundLineWidth": 0,
                                                "pointFillFontStyle": "DroidSansFallback_0",
                                                "pointFillFontWeight": "600",
                                                "isImportant": false,
                                                "graphicWidth": 0,
                                                "pointStrokeFont": "normal 600 12px DroidSansFallback_0,SPZ",
                                                "pointFillFontSize": 12,
                                                "pointBoxDisance": 0,
                                                "angle": 30,
                                                "pointBackgroundLineColor": "#FFFFFF",
                                                "direction": 0,
                                                "avoidWeight": 80,
                                                "avoidField": "avoidWeight",
                                                "pointOffsetY": 0,
                                                "pointOffsetX": 0,
                                                "pointLineWidth": 2,
                                                "pointFillAlpha": 1,
                                                "isFourDirections": true,
                                                "graphicYOffset": 0,
                                                "pointStrokeStyle": "#FFFFFF",
                                                "pointFillFont": "normal 600 12px DroidSansFallback_0,SPZ",
                                                "otherLabelWidth": 16,
                                                "pointFillStyle": "#68330e",
                                                "pointHashOutline": true,
                                                "pointHashBackground": false,
                                                "pointFillFontS": "normal",
                                                "pointHeight": 12
                                            }
                                        ],
                                        "id": "11_居民点_乡",
                                        "avoid": {},
                                        "isleaf": false,
                                        "status": 0
                                    },
                                    {
                                        "data": "行政区划点",
                                        "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_EQ=3111060106",
                                        "labelType": "point",
                                        "nodeUid": "6VOpJMu58bRUm0cAnnywrYnXGE",
                                        "type": "style",
                                        "layer": "居民地_居民点",
                                        "parentId": "11_居民点",
                                        "filter": "not  ( fname  is  null ) and  fcode = \"3111060106\"",
                                        "children": [],
                                        "isVisbile": true,
                                        "iconType": "point-label",
                                        "name": "村委会",
                                        "style": [
                                            {
                                                "pointBackgroundColor": "#EDD976",
                                                "distance": 0,
                                                "graphicHeight": 14,
                                                "show": true,
                                                "labelFunction": "",
                                                "graphicDistance": 3,
                                                "labelfield": "fname",
                                                "graphicXOffset": 0,
                                                "pointStrokeAlpha": 1,
                                                "pointBackgroundGap": 3,
                                                "chinaLabelWidth": 16,
                                                "pointBackgroundLineWidth": 0,
                                                "pointFillFontStyle": "DroidSansFallback_0",
                                                "pointFillFontWeight": "600",
                                                "isImportant": false,
                                                "graphicWidth": 14,
                                                "pointStrokeFont": "normal 600 10px DroidSansFallback_0,SPZ",
                                                "pointFillFontSize": 10,
                                                "pointBoxDisance": 0,
                                                "angle": 30,
                                                "pointBackgroundLineColor": "#FFFFFF",
                                                "direction": 0,
                                                "avoidWeight": 10.2,
                                                "avoidField": "avoidWeight",
                                                "texture": "402881225da1a356015da1c93cef0005",
                                                "pointBackgroundAlpha": 1,
                                                "pointOffsetY": 0,
                                                "pointOffsetX": 0,
                                                "pointBackgroundRadius": 5,
                                                "pointLineWidth": 1.3,
                                                "pointFillAlpha": 1,
                                                "isFourDirections": true,
                                                "graphicYOffset": 0,
                                                "pointStrokeStyle": "#FFFFFF",
                                                "pointFillFont": "normal 600 10px DroidSansFallback_0,SPZ",
                                                "otherLabelWidth": 16,
                                                "pointFillStyle": "#4e4e4e",
                                                "pointHashOutline": true,
                                                "pointHashBackground": false,
                                                "pointFillFontS": "normal",
                                                "pointHeight": 10
                                            }
                                        ],
                                        "id": "11_居民点_村委会",
                                        "avoid": {},
                                        "isleaf": true,
                                        "status": 0
                                    },
                                    {
                                        "data": "行政区划点",
                                        "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_IN=3101070106,3101080106",
                                        "labelType": "point",
                                        "nodeUid": "6VOpJMu58bRUm0cAnDqm8ke6TjnOHR1NGf8su1",
                                        "type": "style",
                                        "layer": "居民地_居民点",
                                        "parentId": "11_居民点",
                                        "filter": "not  ( fname  is  null ) and  fcode  in  (\"3101070106\",\"3101080106\")",
                                        "children": [],
                                        "isVisbile": true,
                                        "iconType": "point-label",
                                        "name": "行政村自然村等",
                                        "style": [
                                            {
                                                "pointBackgroundColor": "#EDD976",
                                                "graphicHeight": 14,
                                                "distance": 0,
                                                "show": true,
                                                "graphicDistance": 3,
                                                "labelFunction": "",
                                                "labelfield": "fname",
                                                "graphicXOffset": 0,
                                                "pointStrokeAlpha": 1,
                                                "pointBackgroundGap": 3,
                                                "chinaLabelWidth": 16,
                                                "pointBackgroundLineWidth": 0,
                                                "pointFillFontStyle": "DroidSansFallback_0",
                                                "pointFillFontWeight": "600",
                                                "isImportant": false,
                                                "graphicWidth": 0,
                                                "pointStrokeFont": "normal 600 11px DroidSansFallback_0,SPZ",
                                                "angle": 30,
                                                "pointBoxDisance": 0,
                                                "pointFillFontSize": 11,
                                                "pointBackgroundLineColor": "#FFFFFF",
                                                "direction": 0,
                                                "avoidWeight": 10.2,
                                                "avoidField": "avoidWeight",
                                                "pointBackgroundAlpha": 1,
                                                "pointOffsetY": 0,
                                                "pointOffsetX": 0,
                                                "pointBackgroundRadius": 5,
                                                "pointLineWidth": 2,
                                                "pointFillAlpha": 1,
                                                "isFourDirections": true,
                                                "graphicYOffset": 0,
                                                "pointStrokeStyle": "#FFFFFF",
                                                "pointFillFont": "normal 600 11px DroidSansFallback_0,SPZ",
                                                "otherLabelWidth": 16,
                                                "pointFillStyle": "#4e4e4e",
                                                "pointHashOutline": true,
                                                "pointHashBackground": false,
                                                "pointFillFontS": "normal",
                                                "pointHeight": 11
                                            }
                                        ],
                                        "id": "11_居民点_行政村自然村等",
                                        "avoid": {},
                                        "isleaf": true,
                                        "status": 0
                                    },
                                    {
                                        "data": "行政区划点",
                                        "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_IN=3101091106,3101092106,3101093106,3101094106",
                                        "labelType": "point",
                                        "nodeUid": "6VOpJMu58bRUm0cAnEiy8swnDYhyqTMA",
                                        "type": "style",
                                        "layer": "居民地_居民点",
                                        "parentId": "11_居民点",
                                        "filter": "not  ( fname  is  null ) and  fcode  in  (\"3101091106\",\"3101092106\",\"3101093106\",\"3101094106\")",
                                        "children": [],
                                        "isVisbile": true,
                                        "iconType": "point-label",
                                        "name": "农林牧渔场",
                                        "style": [
                                            {
                                                "pointBackgroundColor": "#EDD976",
                                                "graphicHeight": 8,
                                                "distance": 0,
                                                "show": true,
                                                "graphicDistance": 3,
                                                "labelFunction": "",
                                                "labelfield": "fname",
                                                "graphicXOffset": 0,
                                                "pointStrokeAlpha": 1,
                                                "pointBackgroundGap": 3,
                                                "chinaLabelWidth": 16,
                                                "pointBackgroundLineWidth": 0,
                                                "pointFillFontStyle": "微软雅黑",
                                                "pointFillFontWeight": "600",
                                                "isImportant": false,
                                                "graphicWidth": 14,
                                                "pointStrokeFont": "600 11px 微软雅黑,SPZ",
                                                "angle": 30,
                                                "pointBoxDisance": 0,
                                                "pointFillFontSize": 11,
                                                "pointBackgroundLineColor": "#FFFFFF",
                                                "direction": 0,
                                                "avoidWeight": 10.2,
                                                "avoidField": "avoidWeight",
                                                "texture": "402881225da1a356015da1c93cef0005",
                                                "pointBackgroundAlpha": 1,
                                                "pointOffsetY": 0,
                                                "pointOffsetX": 0,
                                                "pointBackgroundRadius": 5,
                                                "pointLineWidth": 2,
                                                "pointFillAlpha": 1,
                                                "isFourDirections": true,
                                                "graphicYOffset": 0,
                                                "pointStrokeStyle": "#FFFFFF",
                                                "pointFillFont": "600 11px 微软雅黑,SPZ",
                                                "otherLabelWidth": 16,
                                                "pointFillStyle": "#4e4e4e",
                                                "pointHashOutline": true,
                                                "pointHashBackground": false,
                                                "pointHeight": 11
                                            }
                                        ],
                                        "id": "11_居民点_农林牧渔场",
                                        "avoid": {},
                                        "isleaf": true,
                                        "status": 0
                                    },
                                    {
                                        "data": "行政区划点",
                                        "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_EQ=3801000205",
                                        "labelType": "point",
                                        "nodeUid": "6VOpJMu58bRUm0cAnW1n318",
                                        "type": "style",
                                        "layer": "居民地_居民点",
                                        "parentId": "11_居民点",
                                        "filter": "not  ( fname  is  null ) and  fcode = \"3801000205\"",
                                        "children": [],
                                        "isVisbile": true,
                                        "iconType": "point-label",
                                        "name": "城门",
                                        "style": [
                                            {
                                                "pointBackgroundColor": "#EDD976",
                                                "graphicHeight": 14,
                                                "distance": 0,
                                                "show": true,
                                                "graphicDistance": 3,
                                                "labelFunction": "",
                                                "labelfield": "fname",
                                                "graphicXOffset": 0,
                                                "pointStrokeAlpha": 1,
                                                "pointBackgroundGap": 3,
                                                "chinaLabelWidth": 16,
                                                "pointBackgroundLineWidth": 0,
                                                "pointFillFontStyle": "微软雅黑",
                                                "pointFillFontWeight": "600",
                                                "isImportant": false,
                                                "graphicWidth": 14,
                                                "pointStrokeFont": "600 11px 微软雅黑,SPZ",
                                                "angle": 30,
                                                "pointBoxDisance": 0,
                                                "pointFillFontSize": 11,
                                                "pointBackgroundLineColor": "#FFFFFF",
                                                "direction": 0,
                                                "avoidWeight": 10.2,
                                                "avoidField": "avoidWeight",
                                                "texture": "2c9292b264224742016445ea50780001",
                                                "pointBackgroundAlpha": 1,
                                                "pointOffsetY": 0,
                                                "pointOffsetX": 0,
                                                "pointBackgroundRadius": 5,
                                                "pointLineWidth": 2,
                                                "pointFillAlpha": 1,
                                                "isFourDirections": true,
                                                "graphicYOffset": 0,
                                                "pointStrokeStyle": "#FFFFFF",
                                                "pointFillFont": "600 11px 微软雅黑,SPZ",
                                                "otherLabelWidth": 16,
                                                "pointFillStyle": "#4e4e4e",
                                                "pointHashOutline": true,
                                                "pointHashBackground": false,
                                                "pointHeight": 11
                                            }
                                        ],
                                        "id": "11_居民点_城门",
                                        "avoid": {},
                                        "isleaf": true,
                                        "status": 0
                                    },
                                    {
                                        "data": "行政区划点",
                                        "query": "NOT (Q_fname_S_NULL=NULL) AND Q_fcode_S_EQ=7512020106",
                                        "labelType": "point",
                                        "nodeUid": "6VOpJMu58bRUm0cAnw84HHv",
                                        "type": "style",
                                        "layer": "居民地_居民点",
                                        "parentId": "11_居民点",
                                        "filter": "not  ( fname  is  null ) and  fcode = \"7512020106\"",
                                        "children": [],
                                        "isVisbile": true,
                                        "iconType": "point-label",
                                        "name": "山峰",
                                        "style": [
                                            {
                                                "pointBackgroundColor": "#EDD976",
                                                "graphicHeight": 14,
                                                "distance": 0,
                                                "show": true,
                                                "graphicDistance": 1,
                                                "labelFunction": "",
                                                "labelfield": "fname",
                                                "graphicXOffset": 0,
                                                "pointStrokeAlpha": 1,
                                                "pointBackgroundGap": 3,
                                                "chinaLabelWidth": 16,
                                                "pointBackgroundLineWidth": 0,
                                                "pointFillFontStyle": "微软雅黑",
                                                "pointFillFontWeight": "600",
                                                "isImportant": false,
                                                "graphicWidth": 14,
                                                "pointStrokeFont": "600 11px 微软雅黑,SPZ",
                                                "angle": 30,
                                                "pointBoxDisance": 0,
                                                "pointFillFontSize": 11,
                                                "pointBackgroundLineColor": "#FFFFFF",
                                                "direction": 0,
                                                "avoidWeight": 10.2,
                                                "avoidField": "avoidWeight",
                                                "texture": "5028813a5d45e306015db27110003212",
                                                "pointBackgroundAlpha": 1,
                                                "pointOffsetY": 0,
                                                "pointOffsetX": 0,
                                                "pointBackgroundRadius": 5,
                                                "pointLineWidth": 2,
                                                "pointFillAlpha": 1,
                                                "isFourDirections": true,
                                                "graphicYOffset": 0,
                                                "pointStrokeStyle": "#FFFFFF",
                                                "pointFillFont": "600 11px 微软雅黑,SPZ",
                                                "otherLabelWidth": 16,
                                                "pointFillStyle": "#4E4E4E",
                                                "pointHashOutline": true,
                                                "pointHashBackground": false,
                                                "pointHeight": 11
                                            }
                                        ],
                                        "id": "11_居民点_山峰",
                                        "avoid": {},
                                        "isleaf": true,
                                        "status": 0
                                    }
                                ],
                                "isVisbile": true,
                                "iconType": "icon-group",
                                "name": "居民点",
                                "id": "11_居民点",
                                "isleaf": false,
                                "type": "group",
                                "layer": "9_快速路高架路",
                                "parentId": "11",
                                "status": 0
                            }]

                    }
                })
            },
        dataType: "json",
        success: function (data) {
            var d = data;
            console.log(data)
        }

        }
    );
</script>
</body>
</html>
